<% include partials/header.ejs %>  

<h1>HOME</h1>
<p><%= contents %> </p>
<% postsab.forEach(element => {%>
<h1><%= element.title %> </h1>
<p><%= (element.txtarea).substring(0,100) %>...<a href="/posts/<%= element.title %> ">Read More</a> </p>
<%  }); %> 
<% include partials/footer.ejs %> 
 